In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("train_data_ver1.csv")

In [6]:
keyword = pd.read_csv("keyword.csv")

In [7]:
data.head()

   id       data  label
0   1          ㅇ    NaN
1   2      1호 댓글    NaN
2   3        노무현    NaN
3   4  불판 갈앗노 ㅋㅋ    NaN
4   5         ㅎㅇ    NaN

In [8]:
data.shape

(5201, 3)

In [9]:
keyword.head()

   Unnamed: 0 keyword
0           0      간나
1           1     개간나
2           2     쌍간나
3           3     종간나
4           4     좆간나

In [10]:
data.dtypes

id         int64
data      object
label    float64
dtype: object

In [11]:
data['label'] = data['label'].fillna(1)

In [12]:
data['label'] = data['label'].astype(int)

In [13]:
data.dtypes

id        int64
data     object
label     int32
dtype: object

In [14]:
data.head()

   id       data  label
0   1          ㅇ      1
1   2      1호 댓글      1
2   3        노무현      1
3   4  불판 갈앗노 ㅋㅋ      1
4   5         ㅎㅇ      1

In [15]:
for key in keyword['keyword']:
#    data["data"] = data['data'].apply(lambda x:1 if key in x else 0)
    data.loc[(data['data'].str.contains(key)), 'label'] = 0

In [16]:
data

        id                                     data  label
0        1                                        ㅇ      1
1        2                                    1호 댓글      1
2        3                                      노무현      1
3        4                                불판 갈앗노 ㅋㅋ      1
4        5                                       ㅎㅇ      1
...    ...                                      ...    ...
5196  5197                                   티타늄써야함      1
5197  5198                                   슬레이트지붕      1
5198  5199  스뎅이런류 말하나 본데 근데 고깃집 철판이런류 다 어쩔수 없는거 아닌가      1
5199  5200                          돌불판이 제일좋긴한디 비싸지      1
5200  5201          아 ㅅㅂ 그냥 니인생 살아ㅂㅅ아 잘하고있는애한테 ㅈㄹ이야      0

[5201 rows x 3 columns]

In [18]:
##data.to_csv("lavel_ullcsv")